.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.menu-item {
  padding: 1rem;
  text-align: center;
  border: 1px solid var(--pico-muted-border-color);
  border-radius: var(--pico-border-radius);
  background: var(--pico-background-color);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.menu-item:hover {
  background: var(--pico-muted-color);
  color: white;
}

html,
body {
  overscroll-behavior-y: contain;
  /* mencegah pull-to-refresh */
  overscroll-behavior-x: none;
  height: 100%;
  margin: 0;
}

/* Media query untuk layar kecil tetap 2 kolom */
@media (max-width: 600px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 2000;
}

.toast.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2);
}

/* Varian sukses */
.toast.success {
  background-color: rgba(22, 163, 74, 0.95);
  /* hijau */
}

/* Varian error/perhatian */
.toast.error {
  background-color: rgba(220, 53, 69, 0.95);
  /* merah */
}

.toast-icon {
  font-size: 1.4rem;
}

body {
  -webkit-touch-callout: none;
  /* Safari & Chrome iOS/Android */
  -webkit-tap-highlight-color: transparent;
  /* Hapus highlight ketika tap */
  -webkit-user-select: none;
  /* Chrome, Safari, Edge */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* Standard */
}

.harga-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.harga-item:hover {
  background: var(--pico-muted-color);
  color: white;
  cursor: pointer;
}